<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="TousAntiCovid" />
    <meta name="keywords" content="covid,gouvernement,france" />
    <meta name="author" content="Cadot Michael" />
    <meta name="copyright" content="Cadot Michael" />
    <meta name="robots" content="noindex" />
    <meta name="Subject" content="Accueil">
    <meta name="Identifier-Url" content="studyeval1.cadot.info/index.php">
    <meta name="Reply-To" content="webmestre@cadot.info">
    <meta name="Category" content="medical">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <div class="container">
        <div class="row">
            {% block header %}
            <div class="col-12 col-lg-3">
                <img src="{{asset('build/logo_mobile.png')}}" alt="logo mobile" class="img-fluid mx-auto d-block"
                    alt="">
            </div>
            <div class="col-12 col-lg-9">
                <div class="row d-none  d-lg-block ">
                    <nav class="nav navbar w-100 navbar-light bg-light">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Les actualitées</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Les avancées</a>
                        </li>
                        </ul>
                        <li class="navbar-item  ml-auto d-none d-xl-block">
                            <a class="nav-link text-right" href="#">Gérald Fournier</a>
                        </li>
                        <li class="navbar-item  ">
                            <a class="nav-link btn btn-primary" href="#"><i class="fas fa-upload    "></i>
                                Déconnexion</a>
                        </li>
                    </nav>
                </div>
                <div class="row d-flex justify-content-around mt-3 mb-2" id="accessRapide">
                    {% set
                    bouton={'actualités':'fa-hand-paper','avancées':'fa-spray-can','solidaires':'fa-street-view'} %}
                    {% for titre,icone in bouton %}
                    <div class="bouton">
                        <a class="btn btn-primary bouton-fond active" href="/{{titre}}" role="button">
                            <i class="fas {{icone}} fa-3x"></i>
                            <h2 class="bouton-fond-titre {% if page==titre %}selected {% endif %}"
                                alt="menu vers {{icone|split('-')[2]}}">{{titre}} </h2>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endblock %}
                {% block body %}{% endblock %}
                {% block footer %}
                {% endblock %}
            </div>
        </div>
</body>

</html>