<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="TousAntiCovid" />
    <meta name="keywords" content="covid,gouvernement,france" />
    <meta name="author" content="Cadot Michael" />
    <meta name="copyright" content="Cadot Michael" />
    <meta name="robots" content="noindex" />
    <meta name="Subject" content="Accueil">
    <meta name="Identifier-Url" content="studyeval1.cadot.info/index.php">
    <meta name="Reply-To" content="webmestre@cadot.info">
    <meta name="Category" content="medical">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
{% set
bouton={'actualités':'fa-hand-paper','avancées':'fa-spray-can','solidaires':'fa-street-view'} %}
{% set
apropos=['Directeur général','Secrétariat','Compatbilité'] %}
{% set
liens={'twitter':{'link':'fab fa-twitter','url':'twitter/12343'},'Facebook':{'link':'fab
fa-facebook','url':'facebook/1234'},'C.G.U.':{'link':'fas fa-ruler','url':'/cgu'}} %}

<body>
    <div class="container">
        <div class="row">
            {% block header %}
            <div class="col-12 col-lg-2">
                <a href="{{path('home')}}"> <img src="{{asset('build/logo_mobile.png')}}" alt="logo mobile"
                        class="img-fluid mx-auto d-block" alt=""></a>
            </div>
            <div class="col-12 col-lg-10">
                <div class="row d-none  d-lg-block ">
                    <nav class="nav navbar w-100 navbar-light bg-light">
                        <li class="nav-item">
                            <a class="nav-link {% if page=='index' %}selected {% endif %} "
                                href="{{path('home')}}">accueil</a>
                        </li>
                        {% for titre,icone in bouton %}
                        <li class="nav-item">
                            <a class="nav-link {% if page==titre %}selected {% endif %}" href="/{{titre}}">{{titre}}</a>
                        </li>
                        {% endfor %}
                        <li class="nav-item  ml-auto d-none d-xl-block">

                            <a class="nav-link text-right pr-0 nav-user" href="#"><i class="fas fa-user "></i>Gérald
                                Fournier</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link btn btn-sm btn-primary nav-button ml-2 p-1" href="#"><i
                                    class="fas fa-upload "></i>
                                Déconnexion</a>
                        </li>
                    </nav>
                </div>

                <div class="row d-flex d-lg-none justify-content-around mt-3 mb-2" id="accessRapide">

                    {% for titre,icone in bouton %}
                    <div class="bouton">
                        <a class="btn btn-primary bouton-fond active shadowroot" href="/{{titre}}" role="button">
                            <i class="fas {{icone}} fa-3x"></i>
                            <h2 class="bouton-fond-titre {% if page==titre %}selected {% endif %}"
                                alt="menu vers {{icone|split('-')[2]}}">{{titre}} </h2>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endblock %}
            {% block body %}{% endblock %}
            {% block footer %}
            <div class="col-12 mx-0">
                <div class="row footer">
                    <div class="d-none d-lg-block col-lg-4">
                        <img src="{{asset('build/logo_mobile.png')}}" alt="logo mobile"
                            class="img-fluid mx-auto d-block" alt="">
                    </div>
                    <div class="col-6 col-lg-4">
                        <h1 class="footer-titre">A propos</h1>
                        <dh>
                            {% for row in apropos %}
                            <dt><a href="mailto:{{row}}@tousanticovid.fr"><span class="footer-lien">{{row}}</span>
                            </dt>
                            {% endfor %}

                        </dh>
                    </div>
                    <div class="col-6 col-lg-4">
                        <h1 class="footer-titre">Liens</h1>
                        <dh>
                            {% for titre,row in liens %}
                            <dt><i class="{{row.link}}"></i> <a href="{{row.url}}"><span
                                        class="footer-lien">{{titre}}</span>
                            </dt>
                            {% endfor %}

                        </dh>

                    </div>

                </div>
            </div>
            {% endblock %}
        </div>
</body>

</html>